<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ZSR URL Shortener - ZSR.Link</title>
    <meta name="description" content="Shorten your ZSR speedrunning domains!"/>
    <meta name="keywords" content="Zelda, Speedrunning, URLShortener, ZSR, ZeldaSpeedRuns"/>
    <meta name="twitter:image" content="/logo_new.png" />
    <meta property="og:image" content="/logo_new.png" />
    <meta name="author" content="ZeldaSpeedRuns" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KGQ4S4KKWW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-KGQ4S4KKWW');
    </script>
</head>

<body>
    <div class="container">
        <img id="logo" src="/logo_new.png" />

        <h1>ZSR.link URL Shortener</h1>
        <form id="urlForm" action="/shorten" method="post">
            <input type="text" name="url" placeholder="Enter your URL here..." required>
            <input type="text" name="customTag" placeholder="Enter a custom tag (optional, max 20 characters)" pattern="[A-Za-z0-9_-]*" minlength="3" maxlength="20">
            <button type="submit">Shorten</button>
        </form>

        <div class="result">
            <% if (resultMessage.startsWith('http://') || resultMessage.startsWith('https://')) { %>
                <h4>Short Link created:</h4>
                <input type="text" id="shortUrl" value="<%= resultMessage %>" readonly>
                <button id="copyButton">Copy to Clipboard</button>
                <p id="copyConfirmation" style="display:none;">Copied!</p>
            <% } else { %>
                <p><%= resultMessage %></p>
            <% } %>
        </div>
    </div>
    <footer>
        <p class="legal-text">Copyright 2024 - ZeldaSpeedRuns - by TreZ</p>
    </footer>
    <script type="text/javascript" src="/index.js"></script>
</body>

</html>
